{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="container">
    <br />
    <br />
        <div class="row">
            <div class="col-lg-12 block splash">
                <br />
                <br />
                <div class="col-lg-8 col-lg-offset-2 block" style="box-shadow: 0 0 10px black">
                    <br/>
                    <a href="{% url 'articles' %}">Back to Articles</a>
                    <div id="{{article.id}}" class="col-lg-12">
                    <h2>{{article.title}}</h2>
                    
                    {% thumbnail article.author.author.picture "300x300" crop="center" as im %}
                    <p>
                    <div style="text-align:left; margin-right: 5px;">
                        <img class="profile-pic" style="box-shadow: 0 0 10px black"src="{{im.url}}">
                    </div>
                    {% endthumbnail %}
					<h4>Article by {{article.author.author.user.first_name}} {{article.author.author.user.last_name}}, {{article.author.author.affiliation}}</h4>
                    {% if article.pic %}
                   
					{% thumbnail article.pic "600x600" as im %}
					<img class="blog-pic-inner" style="width:100%" src="{{im.url}}" name="{{profile.user.first_name}} {{profile.user.last_name}}">
					{% endthumbnail %}
                    {% endif %}
                    <br />
                    <br />

                    <p style="font-size:1.3em;">{{article.body|safe}} </p>
                    
                    <p><strong>Date: {{article.pub_date}}</strong></p>
                    <hr />
                    <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
