{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class = "col-lg-12 block splash">
                <br />
                <br />
                
                <div class="col-lg-8 col-lg-offset-2 block">
                    <div class="square-box blog-box blog-box inset" style="overflow:hidden;">
                    <h2>Conference Blog</h2>
                        <div class="col-lg-12">
                    <hr>
                            {% for article in articles %}
                            <h3><a href="/blog/{{article.id}}">{{article.title}}</a></h3>
                            <h4 style="font-size: 1.2em;">Article by {{article.author.author.user.first_name}} {{article.author.author.user.last_name}}, {{article.author.author.affiliation}}</h4>
                            <p><strong>Date: {{article.pub_date}}</strong></p>
                                {% thumbnail article.author.author.picture "300x300" crop="center" as im %}
                                <p>
                                <div style="float:left; text-align:center; margin-right: 5px;">
                                    <img class="profile-pic" src="{{im.url}}">
                                </div>
                                {% endthumbnail %}
                                <p>{{article.body|safe|slice:":350"}} ... </a></p>
                                <a class="btn btn-primary page-scroll" href="{% url 'articles' %}{{article.id}}/">Read More</a>
                            <hr />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
