{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class = "col-lg-12 block splash">
                <br />
                <br />
                
                <div class="col-md-6">
                    <div class="center square-box speaker-box block" style="background-color:#2A6F65;">
                        <div style="text-align:center;">
                            <img class="logo" style="max-height: 133px; max-width:250px;" src="/static/img/SS.png">
                        </div>
                        <h2>Supersolar Conference Bursary</h2>
                        <div class="block" style="text-align:left; margin: 20px; font-size:1.3em;">
                            <p>The SUPERGEN Supersolar Hub have kindly provided a number of bursaries for PhD students wishing to attend PVSAT-12. The bursary will cover the full cost of the conference registration fee.</p>
                            <p>The bursaries are only available to existing Supersolar members, but you can register free today by clicking <a href="https://connect.innovateuk.org/web/supersolar-hub/overview?p_p_state=maximized&p_p_mode=view&saveLastPath=0&_58_struts_action=%2Flogin%2Flogin&p_p_id=58&p_p_lifecycle=0&_58_redirect=https%3A%2F%2Fconnect.innovateuk.org%2Fweb%2Fsupersolar-hub%2Foverview%3Fp_p_id%3Dconfirmportlet_WAR_registrationportlet%26p_p_lifecycle%3D0%26p_p_state%3Dmaximized%26p_p_col_id%3Dprofile-header%26p_p_col_count%3D2" target="_blank">here</a></p>
                        </div>
                        <div class="center">
                        <p style="color: #fee32e;">We're sorry but we are not accepting further applications for this bursary.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="center square-box speaker-box block" style="background-color:#DEDEDE; color: #3a3a3a">
                        <div style="text-align:center;">
                            <img class="logo" style="max-height: 133px; max-width:200px;" src="/static/img/rsc.png">
                        </div>
                        <h2>RSC Travel Bursary</h2>
                        <div class="block" style="text-align:left; margin: 20px; font-size:1.3em;">
                            <p>In addition to sponsoring PVSAT-12, the Royal Society of Chemistry Energy Sector interest group is pleased to extend its Knowledge-Exchange Bursary Scheme to RSC members attending the conference.</p>
                            <p>The bursary provides up to £250 per application towards travel and subsistence costs. The total bursary amount available is limited.</p>
                        </div>
                        <div class="center">
                        <a class="btn btn-primary page-scroll" href="http://www.rsc.org/Membership/Networking/InterestGroups/Energy/knowledge-exchange-bursary.asp" target="_blank">Apply</a>
                        </div>
                    </div>
                </div>
                
             </div>
        </div>
    </div>
    
   

{% endblock %}
