{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
            <div class="col-md-3" id = "leftCol">
               <div class="left" style="margin-top: 25px; text-align: left; background-color:white;" id="sidebar">
                <ul class="nav nav-stacked">
                  <li><a href="/media/programme/programme_final.pdf" target="_blank">Programme (Download)</a></li>
                  <li><a href="/media/programme/proceedings_final.pdf" target="_blank">Proceedings (Download)</a></li>
                  <li><a href="/proceedings/oral/">Talks</a></li>
                  <li><a href="/proceedings/poster/">Posters</a></li>
                  {% if key == 'poster' %}
                      {% for sess in session %}
                          <li class="li-sub"><a href="#{{sess.session.id}}">{{sess.session}}        </a></li>
                      {% endfor %}
                  {% endif %}
                {% if key and not key == 'alltag' %}
                  <li><a href="{% url 'proceedings' %}">Full List</a></li>
                {% endif %}
                </ul>
                <hr>
               </div>
               <div class="left" style="margin-top: 25px; text-align: left;" id="tags">
                {% if key and not key == 'alltag' and not key == 'oral' %}
                {% if not key == 'poster' %}
                <h3>Related Tags!:</h3>
                {% endif %}
                {% endif %}
                {% if not key == 'poster' %}
                {% for tag in tags %}
                    {% if not tag == '' %}
                        <a href="/proceedings/{{tag}}/"><p title="{{tag}}"} {% if tag == key %} class="tag tag-selected" {% else %} class="tag" {% endif %}>{{tag|slice:":15"}}</p></a>
                    {% endif %}
                {% endfor %}
                {% if not key %}
                    <a href="alltag"><p>  >> more tags</a></p>
                {% endif %}
                {% endif %}
                </div>
            </div>
            <div class="col-md-9 block" id="mainCol">
                {% if key == 'poster' %}
                    {% for sess in session %}
                        <div style="overflow: hidden; padding: 0 15px; padding-bottom: 10px;background-color:#dbe2ea;">
                            <h1 id="{{sess.session.id}}">{{sess.session}}</h1>
                            <h4>{{sess.session.start|date:'M d, H:i'}} - {{sess.session.finish|date:'H:i'}}</h4>
                            <p><strong>Chair:</strong> {{sess.session.chair}}</p>
                        </div>
                        {% for abstract in sess.abstracts %}
                            <div style="overflow: hidden;">
                            <div class="col-md-9 block">
                                <div style="overflow:hidden" id="{{abstract.date}}">
                                    <!--{% if abstract.paper %}
                                        <a href="/media/{{abstract.paper}}" target="_blank">
                                            <h2 class="left">{{abstract.title|safe}}</h2>
                                        </a>
                                    {% else %}
                                    -->
                                        <h2 class="left">{{abstract.title|safe}}</h2>
                                    <p>{{abstract.authors}}<p>
                                    <h4>{{abstract.author.affiliation}}</h4>
                                    <p class="
                                        {% if abstract.delivery_decision = 'Oral' %}
                                        oral
                                        {% else %}
                                        poster
                                        {% endif %}
                                        ">
                                        {{abstract.delivery_decision}} Presentation | {{abstract.poster_id}}</p>
                                        
                                        <a href="/media/{{abstract.upload}}" target="_blank">
                                            <i title="Abstract" class="material-icons">description</i>
                                        </a>
                                        {% if abstract.delivery_decision = 'Oral' %}
                                            {% if abstract.slides_link %}
                                                <a href="{{abstract.slides_link}}" target="_blank">
                                                <i title="Presentation"class="material-icons">chrome_reader_mode</i>
                                                </a>
                                            {% elif abstract.slides_file %}
                                                <a href="/media/{{abstract.slides_file}}" target="_blank">
                                                <i title="Presentation"class="material-icons">chrome_reader_mode</i>
                                                </a>
                                            {% else %}
                                                <i title="Presentation"class="material-icons">chrome_reader_mode</i>
                                            {% endif %}

                                        {% endif %}

                                        {% if abstract.delivery_decision = 'Poster' %}
                                            {% if abstract.poster_link %}
                                                <a href="{{abstract.poster_link}}" target="_blank">
                                                <i title="Presentation"class="material-icons">chrome_reader_mode</i>
                                                </a>
                                            {% elif abstract.poster_file %}
                                                <a href="/media/{{abstract.poster_file}}" target="_blank">
                                                <i title="Presentation"class="material-icons">chrome_reader_mode</i>
                                                </a>
                                            {% else %}
                                                <i title="Presentation"class="material-icons">chrome_reader_mode</i>
                                            {% endif %}
                                        {% endif %}
                                </div>
                            </div>
                            <div class="col-md-3 block hidden-xs hidden-sm" style="text-align: center;">
                            <br/>
                                <a href="
                                    {% if abstract.author.linkedin %}
                                    {{abstract.author.linkedin}}" target="_blank
                                    {% elif abstract.author.url  %}
                                    {{abstract.author.url}}" target="_blank
                                    {% else %}
                                    #" onclick="return false;
                                    {% endif %}
                                    ">
                                {% if abstract.author.picture %}
                                    {% thumbnail abstract.author.picture "150x150" crop="center" as im %}
                                    <img class="profile-pic" src="{{im.url}}"/>
                                    {% endthumbnail %}
                                {% else %}
                                    <div class="pic-box" style="font-size: 2.5em; text-align: center; margin:0;">
                                        {{abstract.author.user.first_name|slice:":1"}}{{abstract.author.user.last_name|slice:":1"}}
                                    </div>
                                {% endif %}
                                </a>
                                    <p><strong>{{abstract.author.user.title}} {{abstract.author.user.first_name}} {{abstract.author.user.last_name}}</strong></p>
                            </div>
                            </div>
                            <hr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% if key == 'oral' %}
<script>
$('#sidebar').affix({
      offset: {
        top:0 
      }
});

var $body   = $(document.body);
var navHeight = $('.navbar').outerHeight(true) + 10;

$body.scrollspy({
	target: '#leftCol',
	offset: navHeight
});
</script>
{% endif %}
{% endblock %}
