{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3" id = "leftCol">
                <div class="left" style="margin-top: 50px; text-align: left;" id="sidebar">
                {% for tag in tags %}
                    {% if not tag == '' %}
                        <a href="/proceedings/{{tag}}/"><p title="{{tag}}" class="tag">{{tag|slice:":15"}}</p></a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="col-md-9 block" id="mainCol">
                {% for abstract in abstracts %}
                    <div style="overflow:hidden" id="{{abstract.date}}">
                        <h2 class="left">{{abstract.title}}</h2>
                        <p>{{abstract.authors}}<p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
