{% extends "base.html" %}

{% block title %}
    <title>Venue</title>
{% endblock %}

{% block content %}

	
    <!--<section id="venue" class="blog-section-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="center">Conference Venue</h2>
					<iframe src="https://www.google.com/maps/d/u/0/embed?mid=z4gaGIgyT6J0.kDJK1cnDO2es" width="640" height="480"></iframe>
                </div>
            </div>
        </div>
    </section>
	-->
    
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <style>
            header.carousel {
                height: 70%;
            }
            body {
                background-color: white;
            }
        </style>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/static/img/image004.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/static/img/image001.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/static/img/image002.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/static/img/image003.jpg');"></div>
            </div>

            <div class="item">
                <div class="fill" style="background-image:url('/static/img/image005.jpg');"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="page-header" style="font-family: Roboto">
                    Welcome to Bangor
                </h1>
                <p style="font-family: Roboto; font-size: 1.5em; font-weight: 100">
                    <strong>The PVSAT-13 conference 2017</strong> will take place at <a href="https://www.bangor.ac.uk/" target="_blank">Bangor University</a>. You will be welcomed
                    on the first evening of the conference into the <strong>Main Arts building</strong> (47 on campus map),
                    a Grade 1 listed building completed in 1911 by the architect <a href="https://en.wikipedia.org/wiki/Henry_Hare" target="_blank">Henry T Hare</a>.
                    It is considered to be of exceptional interest, a status afforded to fewer
                    than 3% of all listed buildings in Wales and England. Over the main entrance
                    to Prichard Jones Hall from the outer quad you will see the arms of the donor of the
                    hall, <a href="https://en.wikipedia.org/wiki/John_Prichard-Jones" target="_blank">Sir J. Prichard Jones</a>, The arms of the county of Anglesey, of the
                    University of Wales and of the City of London; on the central bay of the Library
                    wing facing the quadrangle are the arms of the Drapers' Company, who paid for the wing.
                    From the upstairs corridor guests are able to access the Shankland library, one of the most impressive interiors at Bangor
                </p>
                <a href="https://www.bangor.ac.uk/tour/LocationMap.pdf" target="_blank"><button type="button" class="btn btn-primary btn-lg"> Campus Map</button></a>
                 <h2 class="page-header" style="font-family: Roboto">
                    Map and Accommodation
                </h2>

                <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1t0jXvoiLtwDR2JOTjC8UN_PipoM" width="640" height="480"></iframe>

                <h2 class="page-header" style="font-family: Roboto">Conference Dinner</h2>
                <p style="font-family: Roboto; font-size: 1.5em; font-weight: 100">

                    <a href="http://www.celticcastles.com/castles/chateau-rhianfa/" target="_blank">Château Rhianfa</a> stands proudly amidst spectacular gardens on the isle of Anglesey, with views over
                    the Menai Strait and the towering peaks of Snowdonia.
                    Every last detail has been thought about at Château Rhianfa. From the music and drawing rooms to the
                    turret showers and summer and winter balconies, it’s easy to be impressed with this beautiful
                    château. This hotel and exclusive-use venue, set in one of the most beautiful parts of Wales, is
                    guaranteed to play host to a truly memorable PVSAT conference dinner. We hope you can join us.
                </p>
                <br/>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zgpyxeD29oo" frameborder="0" allowfullscreen></iframe>

                <div class="col-md-4 col-sm-6">
                        <img class="img-responsive img-portfolio" src="/static/img/conf_dinner1.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                        <img class="img-responsive img-portfolio" src="/static/img/conf_dinner2.jpg" alt="">
                </div>
                <div class="col-md-4 col-sm-6">
                        <img class="img-responsive img-portfolio" src="/static/img/conf_dinner3.jpg" alt="">
                </div>
            </div>
        </div>
	</div>
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
{% endblock %}
