{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class = "col-lg-12 block splash">
                <br />
                <br />
                
            <div class="col-lg-12 block">
                <div class="col-md-8">
                    <div class="square-box blog-box" style="min-height:10px; overflow:hidden; background-color:#234867">
                        <div style="overflow: hidden;">
                            <div class="col-lg-12">
                            <p>12<sup>th</sup> Photovoltaic Science, Application and Technology Conference</p>
                            </div>
                        <div class="col-sm-8 block">
                            <h1 style="margin-top: 0px; font-size:3em;">PVSAT-12</h1>
                            <h2>6 - 8 April 2016</h2>
                            <h3><a href="{% url 'venue' %}">University of Liverpool, UK</a></h3>
                            <p>Organized by <a href="http://www.uk-ises.org/">The Solar Energy Society (UK-ISES)</a></p>
                            <!---
                            <p class="share">
                                <a href="https://twitter.com/pvsat12" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                                <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                                <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
                            </p>
                            -->
                        </div>

                        <div class="col-sm-4 block">
                            <ul class="list-unstyled" style="padding-top:0">
                            <li><a class="btn btn-primary page-scroll" href="{% url 'registration' %}">Register to Attend</a></li>
                            <li><a class="btn btn-primary page-scroll" href="{% url 'bursary' %}">Apply for a Bursary</a></li>
                            <li><a class="btn btn-primary page-scroll" href="/media/forms/Exhibitor_Registration.pdf">Exhibit</a></li>
                            <li><a class="btn btn-primary page-scroll" href="/media/forms/Sponsorship_Form.pdf">Sponsor</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="hidden-xs col-md-12" style="min-height:245px;">
                        <p style=" font-size:1.2em;">
                            <strong>PVSAT is the UK’s premier scientific event for solar PV </strong>where the latest advances in UK research and development are presented and discussed.  This 3-day conference covers all PV technologies; crystalline silicon, inorganic thin film, multi-junction concentrators and emerging organic and hybrid cells, including perovskite cells.</p>  
                        <p style="font-size:1.2em;">
                            <strong>But PVSAT is not just about research.</strong> From the beginning this conference has included applications, field performance, environmental impact, policy issues and market development and with the UK’s impressive deployment of PV in just the last three years, there is much to learn from the experience and performance of large-scale solar PV in the UK.
                            </p>
                    </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="square-box speaker-box block" style="background-color:#333333;">
                    <img class="logo" style="max-width:400px;" src="/static/img/SS.png">
                    <h2>Research Methods in Solar PV</h2>
                    <h3>5 April 2016</h3>
                    <h4>Stephenson Institute for Renewable Energy, University of Liverpool</h4>
                    <p>A one day workshop ideal for early PhD students in the field of PV. Organised by the EPSRC SuperSolar PV Hub in association with PVSAT</p>
                    <br/>
                    <div class="col-md-6 center" style="margin-bottom: 10px;">
                    <a class="btn btn-primary page-scroll" href="http://www.cdt-pv.org/events/4/" target="_blank">More Info</a>
                    </div>
                    <div class="col-md-6 center" style="margin-bottom: 10px;">
                    <a class="btn btn-primary page-scroll" href="http://payments.liv.ac.uk/browse/extra_info.asp?compid=1&modid=2&deptid=38&catid=72&prodid=1285&searchresults=1">Register</a>
                    </div>
                    </div>
                 </div>
             </div>
            
            <div class="col-lg-12 block">
                <div class="col-md-4">
                    <div class="square-box blog-box">
                        <div class="col-lg-12">
                            <h2>Conference Blog</h2>
                            <h3>{{articles.title}}</h3>
                            <h4><i>{{articles.author.author.user.first_name}} {{articles.author.author.user.last_name}}</i></h3>
                            
                            {% thumbnail articles.author.author.picture "300x300" crop="center" as im %}
                            <p>
                            <br/>
                            <div class="col-sm-4 col-xs-12" style="float:left; text-align:center; margin-right: 5px;">
                            <img class="profile-pic" style="width:100%;" src="{{im.url}}">
                            <br/>
                            </div>
                            {% endthumbnail %}

                            {{articles.body|slice:":375"}} ...</p>
                            <br />
                            <a class="btn btn-primary page-scroll" href="{% url 'articles' %}{{articles.id}}/">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="square-box speaker-box block">
                        <h2>Guest Speakers</h2>
                    <br/>
                    {% for speaker in speakers %}
                        <div class="col-md-3 col-sm-4 col-xs-12 center block">
                                {% thumbnail speaker.pic "300x300" crop="center" as im %}
                                <img class="profile-pic" src="{{im.url}}">
                                <p class="speaker-caption">{{speaker.forename}}
                                   {{speaker.surname}}
                                   </br>
                                   ({{speaker.affiliation}})</p>
                                {% endthumbnail %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-12 block">
                <div class="col-md-12">
                    <div class="test-box square-box block">
                        <h2>Sponsors</h2>
                        <h4>PVSAT-12 is proudly sponsored and supported by:</h4>
                        <br />
                        {% for sponsor in sponsors %}
                            <div class="col-md-4 col-sm-6 col-xs-12 center block">
                                    {% thumbnail sponsor.logo "200x100"  as im %}
                                    <img class="" src="{{im.url}}" style="padding: {{im|margin:"200x100"}}; max-width:100%;">
                                    {% endthumbnail %}

                            </div>
                        {% endfor %}
                </div>
            </div>
            

            </div>
            
        </div>
    </div>
</div>
    
   

    <!--
    {% if sponsors %}
    <section id="sponsors" class="sponsor-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2 class="center">Sponsors</h2>
					<ul class="list-unstyled">
					{% for sponsor in sponsors %}
						<li class="col-sm-3">
							<div class="thumbnail-container">
								<a href="{{sponsor.url}}" target="_blank"><img src="/media/{{sponsor.logo}}" name="{{sponsor.name}}">
							</div>
						</li>
					{% endfor %}
					</ul>
                </div>
            </div>
			<br />
			<div class="col-lg-12 center">
				<a class="btn btn-primary page-scroll" href="{% url 'programme' %}#sponsors">Become a Sponsor!</a>
			</div>
        </div>
    </section>
    {% endif %}
    -->
{% endblock %}
