{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class = "col-lg-12 block splash" style="padding-bottom: 0">
                <br />
                <br />

            <div class="col-lg-12 block" style="margin-bottom: 0; padding-bottom: 0">
                <!-- DEADLINE
                <div class="col-md-12">
                    <div class="square-box blog-box" style="overflow:hidden; background-color:#990000; min-height:20px;">
                        <div style="overflow: hidden;">
                            <div class="col-lg-12">
                                <p style="font-size:1.5em; text-align: center; margin:0"><strong>Deadline:</strong>
                                    <u>Fri 10 March</u> for paper submission, late news abstracts and early bird registration.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                -->

                <div class="col-md-8">
                    <div class="square-box blog-box title-box">
                        <div style="overflow: hidden;">
                            <div class="col-lg-12">
                            <p>13<sup>th</sup> Photovoltaic Science, Application and Technology Conference</p>
                            </div>
                        <div class="col-sm-7 block">
                            <h1 style="margin-top: 0px; font-size:3em;">PVSAT-13</h1>
                            <h2>5 - 7 April 2017</h2>
                            <h3><a href="http://bangor.ac.uk">Bangor University, UK</a></h3>
                            <p>Organized by <a href="http://www.uk-ises.org/">The Solar Energy Society (UK-ISES).</a></p>
                            <!---
                            <p class="share">
                                <a href="https://twitter.com/pvsat12" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                                <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                                <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
                            </p>
                            -->
                        </div>

                        <div class="col-sm-5 block" style="text-align:center;">
                            <img style="max-width: 90%; margin-top: 5%;" src="/static/img/bangor_logo_color.png"/>
                            <!--
                            <ul class="list-unstyled" style="padding-top:0">
                            <li><a class="btn btn-primary page-scroll" href="{% url 'registration' %}">Register to Attend</a></li>
                            <li><a class="btn btn-primary page-scroll" href="{% url 'venue' %}#accommodation">Book Accommodation</a></li>
                            <li><a class="btn btn-primary page-scroll" href="/media/forms/Exhibitor_Registration.pdf">Exhibit</a></li>
                            <li><a class="btn btn-primary page-scroll" href="/media/forms/Sponsorship_Form.pdf">Sponsor</a></li>

                            </ul>
                            -->
                        </div>
                    </div>
                    <div class="col-md-12" style="min-height:200px;">
                        <p style="font-size: 1.2em;">

                            <strong>PVSAT is the UK’s premier scientific event for solar PV </strong>where the latest
                            advances in UK research and development are presented and discussed.  This 3-day conference
                            covers all PV technologies; crystalline silicon, inorganic thin film, multi-junction
                            concentrators and emerging organic and hybrid cells, including perovskite cells.</p>
                        </p>


                        <!--
                        <p>

                        <a href="https://connect.innovateuk.org/web/supersolar-hub" target="_blank">The EPSRC
                            Supergen Supersolar Hub</a> are providing a number of bursaries to students wishing to
                            attend PVSAT-13. Students wishing to apply for a bursary should click the button below.
                        </p>
                        -->
                        <p>A draft programme for the conference is now available to download below. This programme is subject to change.</p>
                        <hr/>
                        <p>
                            <a class="btn btn-primary page-scroll main-but" href="{% static 'forms/PVSAT-13_programme_1.1.pdf' %}" target="_blank">Download Programme</a>

                           <a class="btn btn-primary page-scroll main-but" href="{% url 'bursary' %}">Apply for Bursary</a>
                       </p>

                        <!--
                        <p style="font-size:1.2em;">
                            <strong>But PVSAT is not just about research.</strong> From the beginning this conference has included applications, field performance, environmental impact, policy issues and market development and with the UK’s impressive deployment of PV in just the last three years, there is much to learn from the experience and performance of large-scale solar PV in the UK.
                            </p>
                        -->
                    </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-bottom:20px;">
                        <div class="square-box blog-box block" style="background-color:#333333; padding-bottom: 0">
                            <img class="logo" style="max-width:400px;" src="/static/img/SS.png">
                            <h2>Research Methods in Solar PV</h2>
                            <h3>4 April 2017</h3>
                            <h4>University of Bangor</h4>
                            <p>A one day workshop in the field of PV ideal for early stage researchers, PhD students, industry workers or postdocs. organised by the EPSRC SuperSolar PV Hub in association with PVSAT.</p>
                            <br/>
                            <div class="col-md-6 center" style="margin-bottom: 10px;">
                            <!--
                            <a class="btn btn-primary page-scroll center" href="http://www.cdt-pv.org/training/module/9/" style="width: auto" target="_blank">View Resources</a>
                            -->
                            <a class="btn btn-primary page-scroll" href="http://www.cdt-pv.org/events/9/" target="_blank">More Info</a>
                            </div>
                            <div class="col-md-6 center" style="margin-bottom: 10px;">
                            <a class="btn btn-primary page-scroll" href="http://payments.liv.ac.uk/short-courses/short-courses-at-liverpool/school-of-physical-sciences/stephenson-institute-for-renewable-energy/supersolar-research-methods-in-pv-1-materials-and-techniques" target="_blank">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="square-box blog-box new-blog block">
                            <div class="col-md-4">
                                <h2>Conference Blog</h2>
                                <h3>{{articles.title}}</h3>
                                <h4><i>{{articles.author.author.user.first_name}} {{articles.author.author.user.last_name}}</i></h4>
                            </div>
                            <div class="col-md-8"

                                {% thumbnail articles.author.author.picture "300x300" crop="center" as im %}
                                <p>
                                <br/>
                                <div class="col-sm-4 col-xs-12" style="float:left; text-align:center; margin-right: 5px;">
                                <img class="profile-pic" style="width:100%;" src="{{im.url}}">
                                <br/>
                                </div>
                                {% endthumbnail %}

                                {{articles.body|slice:":300"|safe}} ...</p>

                                <a class="btn btn-primary page-scroll" href="{% url 'articles' %}{{articles.id}}/">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-12">
                <div class="col-md-12" style="text-align: center">
                    <div class="col-md-12">
                        <div class="square-box blog-box sponsor block">
                            <div class="col-md-12">
                                <h3 class="sponsor">Main Sponsors</h3>
                                {% for sponsor in sponsors %}
                                    {% if sponsor.type == 'Main' %}
                                    <div style="display: inline-block">
                                        <a href="{{sponsor.url}}" target="_blank"><img class="logo-main" src="{{sponsor.logo.url}}" style="padding: {{im|margin:"200x100"}}; max-width:100%;"></a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-md-12">
                                <h3 class="sponsor">Associate Sponsors</h3>
                                {% for sponsor in sponsors %}
                                    {% if sponsor.type == 'Associate' %}
                                    <div style="display: inline-block">

                                    <!--<div class="col-md-3 col-sm-6 col-xs-12 center block">-->
                                        <a href="{{sponsor.url}}" target="_blank"><img class="logo-associate" src="{{sponsor.logo.url}}" style="padding: {{im|margin:"200x100"}}; max-width:100%;"></a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                <br/>
                                <br/>
                            </div>

                            <div class="col-md-12">
                                <h3 class="sponsor">Awards Sponsors</h3>
                                {% for sponsor in sponsors %}
                                    {% if sponsor.type == 'Poster' %}
                                    <div style="display: inline-block">

                                    <!--<div class="col-md-3 col-sm-6 col-xs-12 center block">-->
                                        <a href="{{sponsor.url}}" target="_blank"><img class="logo-associate" src="{{sponsor.logo.url}}" style="padding: {{im|margin:"200x100"}}; max-width:100%;"></a>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                    <div class="square-box speaker-box block guest-speaker" style="margin-bottom: 30px;">
                        <h2>Guest Speakers</h2>
                    <br/>
                    {% for speaker in speakers %}
                        <a href="#speakerModal_{{speaker.id}}" data-toggle="modal">
                            <div class="col-md-4 col-sm-4 col-xs-12 center block">
                                    {% thumbnail speaker.pic "300x300" crop="center" as im %}
                                    <img class="profile-pic" src="{{im.url}}">
                                    <p class="speaker-caption">{{speaker.forename}}
                                       {{speaker.surname}}
                                       </br>
                                       ({{speaker.affiliation}})</p>
                                    {% endthumbnail %}
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                </div>
             </div>
                </div>




             <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-12">
                    <div class="square-box speaker-box block" style="background-color: #A461C5; margin-bottom:30px;">
                        <h2>PVSAT Committee Members</h2>
                    <br/>
                    {% for speaker in committee %}
                        <div class="col-md-3 col-sm-3 col-xs-12 center block">
                                {% thumbnail speaker.pic "300x300" crop="center" as im %}
                                <img class="profile-pic" src="{{im.url}}">
                                <p class="speaker-caption">{{speaker.forename}}
                                   {{speaker.surname}}
                                   </br>
                                   ({{speaker.affiliation}})</p>
                                {% endthumbnail %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
              </div>
              </div>



            <!--
            <div class="col-lg-12 block">
                <div class="col-md-12">
                    <div class="test-box square-box block">
                        <h2>Sponsors</h2>
                        <h4>PVSAT-12 is proudly sponsored and supported by:</h4>
                        <br />
                        {% for sponsor in sponsors %}
                            <div class="col-md-4 col-sm-6 col-xs-12 center block">
                                    {% thumbnail sponsor.logo "200x100"  as im %}
                                    <img class="" src="{{im.url}}" style="padding: {{im|margin:"200x100"}}; max-width:100%;">
                                    {% endthumbnail %}

                            </div>
                        {% endfor %}
                </div>
            </div>
            -->
            

            
        </div>
    </div>
</div>
    
   

    <!--
    {% if sponsors %}
    <section id="sponsors" class="sponsor-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
					<h2 class="center">Sponsors</h2>
					<ul class="list-unstyled">
					{% for sponsor in sponsors %}
						<li class="col-sm-3">
							<div class="thumbnail-container">
								<a href="{{sponsor.url}}" target="_blank"><img src="/media/{{sponsor.logo}}" name="{{sponsor.name}}">
							</div>
						</li>
					{% endfor %}
					</ul>
                </div>
            </div>
			<br />
			<div class="col-lg-12 center">
				<a class="btn btn-primary page-scroll" href="{% url 'programme' %}#sponsors">Become a Sponsor!</a>
			</div>
        </div>
    </section>
    {% endif %}
    -->

<!-- Modal -->


<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                 <h2 class="modal-title" id="memberModalLabel" style="font-family: Roboto">Dinorwig Hydro Power Station Tour</h2>
                 <h3>Wed 5 April (Pickup at 8.30 AM)</h3>

            </div>
            <div class="modal-body" style="font-family: Roboto; font-size: 1.5em; font-weight: 100;">
                <p>Set against a magnificent backdrop of the towering mountains and the magnificent scenery of Snowdonia,
                    First Hydro's pumped storage power station in Dinorwig, Llanberis supplies electricity to the Grid on a
                    daily basis and provides back-up for periods of heavy demand. The station offers a seriously fast response
                    time - probably the fastest of any power facility in the world - 1,728MW from standstill in just 90
                    seconds!</p>
                <p>
                    Don't miss this amazing opportunity for a tour of Dinorwig Power Station, available to PVSAT-13 delegates only.
                </p>
                <p>To register, please email <a href="mailto:stevie.scanlan@bangor.ac.uk">stevie.scanlan@bangor.ac.uk</a>.
                The tour is limited to 28 places so register quick!</p>
                <img src="{% static 'img/dinorwig.jpg' %}" style="width:100%; padding: 5%;" />


            </div>
            <div class="modal-footer">
                <!--<a href="/authors/login/"><button type="button" class="btn btn-primary">Submit Abstract</button></a>-->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% for speaker in speakers %}
<div class="modal fade" id="speakerModal_{{speaker.id}}" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                 <h2 class="modal-title" id="memberModalLabel" style="font-family: Roboto">{{ speaker.title }} {{ speaker.forename }} {{ speaker.surname }}</h2>
                <h3 style="font-family: Roboto">{{ speaker.affiliation }}</h3>

            </div>
            <div class="modal-body" style="font-family: Roboto; font-size: 1.2em; font-weight: 100;">
                <p style="font-family: Roboto; font-size: 1.5em; font-weight: 100">{{ speaker.bio }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}

{% block javascript %}
<script>

    $(document).ready(function () {

    $('#memberModal').modal('show');


});
</script>
{% endblock %}
