{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class = "col-lg-12 block splash">
                <br />
                <br />
                <div class="col-md-4 block" style=" text-align: center">
                <div class="col-lg-12 square-box splash-box block " style="min-height: 520px;background-color: #234867">
                <div style="max-width:500px;margin:auto;">
					<h1>{{user.first_name}} {{user.last_name}}</h1>
                    <br />

                    {% if profile.picture %}
                    {% thumbnail profile.pic "150x150" crop="center" as im %}
                    <img class="profile-pic-lg" src="{{im.url}}" name="{{profile.user.first_name}} {{profile.user.last_name}}">
                    {% endthumbnail %}

                    {% else %}
                    <div class="pic-box">
                        {{user.first_name|slice:":1"}}{{user.last_name|slice:":1"}}
                        
                    </div>
                    {% endif %}

					{% thumbnail profile.picture "150x150" crop="center" as im %}
					<img class="profile-pic-lg" src="{{im.url}}" name="{{user.first_name}} {{user.last_name}}">
					{% endthumbnail %}
					<h3>{{profile.affiliation}}</h3>
					<p>
						{% if profile.url %}
						<a href="{{profile.url}}" target="_blank"><i class="fa fa-globe fa-3x"></i></a>
						{% endif %}
						{% if profile.linkedin %}
						<a href="{{profile.linkedin}}" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
						{% endif %}
						{% if profile.twitter %}
						<a href="http://twitter.com/{{profile.twitter|slice:"1:"}}" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
						{% endif %}
					</p>
                    <br />
					{% if profile.bio %}
					<p class="bio" style="text-align: left">{{profile.bio}}</p>
					{% endif %}
                    <br />
					<div class="col-lg-12">
						<a class="btn btn-primary page-scroll" href="{% url 'update_profile' %}">Update Profile</a>
                    <br/>
                    <br/>
					</div>
                    </div>
				</div>
            </div>


                <div class="col-md-8" >
                    <div class="square-box splash-box block"style="background-color: #3896B1; min-height:10px;">
                        <h2>My Abstracts</h2>
                    <div class="col-lg-12">
                        <a class="btn btn-success page-scroll" href="{% url 'submit_abstract' %}">Submit New Abstract</a>
                        {% if abstracts %}
                            {% for abstract in abstracts %}
                                <h3>{{ abstract.title }}</h3>
                                <p>{{ abstract.authors }}</p>
                                <!--
                                <div class="tag-box">
                                    {% for tag in abstract.tags_as_list %}
                                    <a href=""><p class="tag">{{tag}}</p></a>
                                    {% endfor %}
                                </div>
                                -->
                                <p><strong>{{abstract.unique_id}}</strong> |{% if abstract.status == 'Accepted' %} Accepted for: <strong>{{abstract.delivery_decision}}</strong> presentation
                                  
                                     </p>
                                      <a class="btn btn-success page-scroll" href="/authors/submit_paper/{{abstract.id}}">{% if abstract.paper %}Re-submit Paper{% else %}Submit paper{% endif %}</a>
                                      {% if abstract.delivery_decision == 'Poster' %}
                                          <a class="btn btn-success page-scroll" href="/authors/submit_poster/{{abstract.id}}">{% if abstract.poster_file or abstract.poster_link %}Re-submit Poster{% else %}Submit poster{% endif %}</a>
                                      {% endif %}
                                      {% if abstract.delivery_decision == 'Oral' %}
                                          <a class="btn btn-success page-scroll" href="/authors/submit_slides/{{abstract.id}}">{% if abstract.slides_file or abstract.poster_link %}Re-submit Slides{% else %}Submit slides{% endif %}</a>
                                      {% endif %}
                                  {% else %}
                                  Submitted for: <strong>{{abstract.delivery}}</strong> presentation</p>
                                  {% endif %}
                                <hr>
                            {% endfor %}
                            {% else %}
                                <p>No abstracts submitted<p>
                            {% endif %}
                            <h2>Abstract Preparation</h2>
                            <div style="font-size:1.2em;">
                                <p>Abstracts are invited for oral and poster presentation. All papers will be published in the conference proceedings. Papers will be subjected to a stringent review process and will only be accepted based on their merits.</p>
                                </p>The abstract must not exceed 1 page A4 and should be uploaded by clicking the "Submit New Abstract" button above. The abstract should identify paper title, names and affiliations of all authors, purpose of the work, scientific approach, relevance, summary of the results and conclusions. Selected papers evidencing high quality contributions in PV materials and PV systems will be invited to submit their manuscripts to a special issue of the IET Journal.</p>
                            </div>
                            <!--
                            <h2>Author Guidance</h2>
                            <div style="font-size: 1.2em;"
                            <p>Please download our <a href="{% static 'files/PVSAT_paper_instructions.doc' %}" target="_blank">PVSAT-13 Paper: Instructions for Authors</a>.</p>
                            <p>All papers must be submitted through your author dasboard as a .pdf file.</p>
                            <p>Failure to comply with the instructions will result in your paper not being included in the PVSAT-13 conference proceedings.</p>
                            <p>Selected papers evidencing high quality contributions in PV materials and PV systems will be invited to submit their manuscripts to special issues of <a href="http://www.maneyonline.com/loi/ema" target="_blank">Energy Materials Journal</a> or IET Journal respectively.</p>
                            </div>
                            -->
                        </div>
                    </div>

                    <div class="square-box splash-box block"style="background-color: #B14138; min-height:0px; margin-top:20px; padding-top: 0px;">
                        <div class="col-md-6 center">
                            <ul class="list-unstyled" style="font-size: 1.2em;">
                                <li><strong>Abstract Submission</strong>: Fri 23 Dec 2016</li>
                                <li><strong>Author Notification</strong>: Wed 01 Feb 2017</li>
                            </ul>
                    </div>
                        <div class="col-md-6 center">
                            <ul class="list-unstyled" style="font-size: 1.2em;">
                                <li><strong>Early Bird Reg.</strong>: Fri 10 Mar 2017</li>
                                <li><strong>Paper Submission</strong>: Fri 10 Mar 2017</li>
                            </ul>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
